<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tensquare.qa.dao.TbProblemMapper">
    <resultMap id="BaseResultMap" type="com.tensquare.qa.pojo.TbProblem">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="createtime" jdbcType="TIMESTAMP" property="createtime"/>
        <result column="updatetime" jdbcType="TIMESTAMP" property="updatetime"/>
        <result column="userid" jdbcType="VARCHAR" property="userid"/>
        <result column="nickname" jdbcType="VARCHAR" property="nickname"/>
        <result column="visits" jdbcType="BIGINT" property="visits"/>
        <result column="thumbup" jdbcType="BIGINT" property="thumbup"/>
        <result column="reply" jdbcType="BIGINT" property="reply"/>
        <result column="solve" jdbcType="VARCHAR" property="solve"/>
        <result column="replyname" jdbcType="VARCHAR" property="replyname"/>
        <result column="replytime" jdbcType="TIMESTAMP" property="replytime"/>
    </resultMap>

    <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.tensquare.qa.pojo.TbProblem">
        <result column="content" jdbcType="LONGVARCHAR" property="content"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, title, createtime, updatetime, userid, nickname, visits, thumbup, reply, solve,
        replyname, replytime
    </sql>

    <sql id="Blob_Column_List">
        content
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from tb_problem
        where id = #{id,jdbcType=VARCHAR}
    </select>

    <select id="getProblemListByLableId" resultType="com.tensquare.qa.pojo.TbProblem">
        select *
        from tb_problem a
                 left join tb_pl b on a.id = b.problemid
            and b.labelid = #{lableId}
        order by replytime desc
    </select>

    <select id="getHotProblemListByLableId" resultType="com.tensquare.qa.pojo.TbProblem">
        select *
        from tb_problem a
                 left join tb_pl b on a.id = b.problemid
            and b.labelid = #{lableId}
        order by reply desc
    </select>

    <select id="getWaitProblemListByLableId" resultType="com.tensquare.qa.pojo.TbProblem">
        select *
        from tb_problem a
                 left join tb_pl b on a.id = b.problemid
            and b.labelid = #{lableId}
        and reply = 0
    </select>


    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete
        from tb_problem
        where id = #{id,jdbcType=VARCHAR}
    </delete>

    <insert id="insert" parameterType="com.tensquare.qa.pojo.TbProblem">
        insert into tb_problem (id, title, createtime,
                                updatetime, userid, nickname,
                                visits, thumbup, reply,
                                solve, replyname, replytime,
                                content)
        values (#{id,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP},
                #{updatetime,jdbcType=TIMESTAMP}, #{userid,jdbcType=VARCHAR}, #{nickname,jdbcType=VARCHAR},
                #{visits,jdbcType=BIGINT}, #{thumbup,jdbcType=BIGINT}, #{reply,jdbcType=BIGINT},
                #{solve,jdbcType=VARCHAR}, #{replyname,jdbcType=VARCHAR}, #{replytime,jdbcType=TIMESTAMP},
                #{content,jdbcType=LONGVARCHAR})
    </insert>

    <insert id="insertSelective" parameterType="com.tensquare.qa.pojo.TbProblem">
        insert into tb_problem
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="createtime != null">
                createtime,
            </if>
            <if test="updatetime != null">
                updatetime,
            </if>
            <if test="userid != null">
                userid,
            </if>
            <if test="nickname != null">
                nickname,
            </if>
            <if test="visits != null">
                visits,
            </if>
            <if test="thumbup != null">
                thumbup,
            </if>
            <if test="reply != null">
                reply,
            </if>
            <if test="solve != null">
                solve,
            </if>
            <if test="replyname != null">
                replyname,
            </if>
            <if test="replytime != null">
                replytime,
            </if>
            <if test="content != null">
                content,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="createtime != null">
                #{createtime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatetime != null">
                #{updatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="userid != null">
                #{userid,jdbcType=VARCHAR},
            </if>
            <if test="nickname != null">
                #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="visits != null">
                #{visits,jdbcType=BIGINT},
            </if>
            <if test="thumbup != null">
                #{thumbup,jdbcType=BIGINT},
            </if>
            <if test="reply != null">
                #{reply,jdbcType=BIGINT},
            </if>
            <if test="solve != null">
                #{solve,jdbcType=VARCHAR},
            </if>
            <if test="replyname != null">
                #{replyname,jdbcType=VARCHAR},
            </if>
            <if test="replytime != null">
                #{replytime,jdbcType=TIMESTAMP},
            </if>
            <if test="content != null">
                #{content,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.tensquare.qa.pojo.TbProblem">
        update tb_problem
        <set>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="createtime != null">
                createtime = #{createtime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatetime != null">
                updatetime = #{updatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="userid != null">
                userid = #{userid,jdbcType=VARCHAR},
            </if>
            <if test="nickname != null">
                nickname = #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="visits != null">
                visits = #{visits,jdbcType=BIGINT},
            </if>
            <if test="thumbup != null">
                thumbup = #{thumbup,jdbcType=BIGINT},
            </if>
            <if test="reply != null">
                reply = #{reply,jdbcType=BIGINT},
            </if>
            <if test="solve != null">
                solve = #{solve,jdbcType=VARCHAR},
            </if>
            <if test="replyname != null">
                replyname = #{replyname,jdbcType=VARCHAR},
            </if>
            <if test="replytime != null">
                replytime = #{replytime,jdbcType=TIMESTAMP},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>

    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.tensquare.qa.pojo.TbProblem">
        update tb_problem
        set title      = #{title,jdbcType=VARCHAR},
            createtime = #{createtime,jdbcType=TIMESTAMP},
            updatetime = #{updatetime,jdbcType=TIMESTAMP},
            userid     = #{userid,jdbcType=VARCHAR},
            nickname   = #{nickname,jdbcType=VARCHAR},
            visits     = #{visits,jdbcType=BIGINT},
            thumbup    = #{thumbup,jdbcType=BIGINT},
            reply      = #{reply,jdbcType=BIGINT},
            solve      = #{solve,jdbcType=VARCHAR},
            replyname  = #{replyname,jdbcType=VARCHAR},
            replytime  = #{replytime,jdbcType=TIMESTAMP},
            content    = #{content,jdbcType=LONGVARCHAR}
        where id = #{id,jdbcType=VARCHAR}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.tensquare.qa.pojo.TbProblem">
        update tb_problem
        set title      = #{title,jdbcType=VARCHAR},
            createtime = #{createtime,jdbcType=TIMESTAMP},
            updatetime = #{updatetime,jdbcType=TIMESTAMP},
            userid     = #{userid,jdbcType=VARCHAR},
            nickname   = #{nickname,jdbcType=VARCHAR},
            visits     = #{visits,jdbcType=BIGINT},
            thumbup    = #{thumbup,jdbcType=BIGINT},
            reply      = #{reply,jdbcType=BIGINT},
            solve      = #{solve,jdbcType=VARCHAR},
            replyname  = #{replyname,jdbcType=VARCHAR},
            replytime  = #{replytime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=VARCHAR}
    </update>
</mapper>