<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tensquare.recruit.dao.TbRecruitMapper">
  <resultMap id="BaseResultMap" type="com.tensquare.recruit.pojo.TbRecruit">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="jobname" jdbcType="VARCHAR" property="jobname" />
    <result column="salary" jdbcType="VARCHAR" property="salary" />
    <result column="condition" jdbcType="VARCHAR" property="condition" />
    <result column="education" jdbcType="VARCHAR" property="education" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="eid" jdbcType="VARCHAR" property="eid" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="state" jdbcType="VARCHAR" property="state" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="label" jdbcType="VARCHAR" property="label" />
    <result column="content1" jdbcType="VARCHAR" property="content1" />
    <result column="content2" jdbcType="VARCHAR" property="content2" />
  </resultMap>

  <sql id="Base_Column_List">
    id, jobname, salary, condition, education, type, address, eid, createtime, state, 
    url, label, content1, content2
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_recruit
    where id = #{id,jdbcType=VARCHAR}
  </select>

  <select id="getList" resultType="com.tensquare.recruit.pojo.TbRecruit">
    select
    <include refid="Base_Column_List" />
    from tb_recruit
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tb_recruit
    where id = #{id,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="com.tensquare.recruit.pojo.TbRecruit">
    insert into tb_recruit (id, jobname, salary, 
      condition, education, type, 
      address, eid, createtime, 
      state, url, label, 
      content1, content2)
    values (#{id,jdbcType=VARCHAR}, #{jobname,jdbcType=VARCHAR}, #{salary,jdbcType=VARCHAR}, 
      #{condition,jdbcType=VARCHAR}, #{education,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{eid,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, 
      #{state,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, #{label,jdbcType=VARCHAR}, 
      #{content1,jdbcType=VARCHAR}, #{content2,jdbcType=VARCHAR})
  </insert>


  <insert id="insertSelective" parameterType="com.tensquare.recruit.pojo.TbRecruit">
    insert into tb_recruit
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="jobname != null">
        jobname,
      </if>
      <if test="salary != null">
        salary,
      </if>
      <if test="condition != null">
        condition,
      </if>
      <if test="education != null">
        education,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="eid != null">
        eid,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="label != null">
        label,
      </if>
      <if test="content1 != null">
        content1,
      </if>
      <if test="content2 != null">
        content2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="jobname != null">
        #{jobname,jdbcType=VARCHAR},
      </if>
      <if test="salary != null">
        #{salary,jdbcType=VARCHAR},
      </if>
      <if test="condition != null">
        #{condition,jdbcType=VARCHAR},
      </if>
      <if test="education != null">
        #{education,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="eid != null">
        #{eid,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null">
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="label != null">
        #{label,jdbcType=VARCHAR},
      </if>
      <if test="content1 != null">
        #{content1,jdbcType=VARCHAR},
      </if>
      <if test="content2 != null">
        #{content2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>


  <update id="updateByPrimaryKeySelective" parameterType="com.tensquare.recruit.pojo.TbRecruit">
    update tb_recruit
    <set>
      <if test="jobname != null">
        jobname = #{jobname,jdbcType=VARCHAR},
      </if>
      <if test="salary != null">
        salary = #{salary,jdbcType=VARCHAR},
      </if>
      <if test="condition != null">
        condition = #{condition,jdbcType=VARCHAR},
      </if>
      <if test="education != null">
        education = #{education,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="eid != null">
        eid = #{eid,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="label != null">
        label = #{label,jdbcType=VARCHAR},
      </if>
      <if test="content1 != null">
        content1 = #{content1,jdbcType=VARCHAR},
      </if>
      <if test="content2 != null">
        content2 = #{content2,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>


  <update id="updateByPrimaryKey" parameterType="com.tensquare.recruit.pojo.TbRecruit">
    update tb_recruit
    set jobname = #{jobname,jdbcType=VARCHAR},
      salary = #{salary,jdbcType=VARCHAR},
      condition = #{condition,jdbcType=VARCHAR},
      education = #{education,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      eid = #{eid,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      state = #{state,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      label = #{label,jdbcType=VARCHAR},
      content1 = #{content1,jdbcType=VARCHAR},
      content2 = #{content2,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>