<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tensquare.user.dao.TbFollowMapper">
  <resultMap id="BaseResultMap" type="com.tensquare.user.pojo.TbFollowKey">
    <id column="userid" jdbcType="VARCHAR" property="userid" />
    <id column="targetuser" jdbcType="VARCHAR" property="targetuser" />
  </resultMap>

  <delete id="deleteByPrimaryKey" parameterType="com.tensquare.user.pojo.TbFollowKey">
    delete from tb_follow
    where userid = #{userid,jdbcType=VARCHAR}
      and targetuser = #{targetuser,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="com.tensquare.user.pojo.TbFollowKey">
    insert into tb_follow (userid, targetuser)
    values (#{userid,jdbcType=VARCHAR}, #{targetuser,jdbcType=VARCHAR})
  </insert>

  <insert id="insertSelective" parameterType="com.tensquare.user.pojo.TbFollowKey">
    insert into tb_follow
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userid != null">
        userid,
      </if>
      <if test="targetuser != null">
        targetuser,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userid != null">
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="targetuser != null">
        #{targetuser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>